@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppinsg-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --main-color: #00AEB9;
    --secondary-color: #DAE8EC;
    --title-color: #3C4859;
    --subtitle-color: #9D9D9D;
    --text-color: #091833;

    --color-icons: rgb(18, 18, 18);


    --font-size-super: 4.5rem;
    --font-size-sub-super: 2.5rem;

    --font-size-title: 3.75rem;
    --font-size-sub-title: 1.75rem;

    --font-size-text: 1.5rem;
    --font-size-small: 1rem;

    --icon-size-common: 1.75rem;
    --icon-size-small: 1.25rem;

    --bg-menu-white: #fbfbfb;
}

@media screen and (min-width: 768px) {
    :root {
        --icon-size-common: 2.125rem;
        --icon-size-small: 1.75rem;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', system-ui, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color-scheme: dark;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: white;
    height: 1200px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(-90.13deg, var(--main-color) 1.9%, #ff4ecd 97.5%);
    border-radius: 12px;
}

::-webkit-scrollbar-track {
    background: #050816;
}

.general-icon-color {
    fill: var(--color-icons);
    width: var(--icon-size-common);
    height: var(--icon-size-common);
}

.general-icon-color path {
    /* stroke: var(--color-icons); */
    fill: var(--color-icons);
}

.bg-gradient-custom-1 {
    background: -webkit-linear-gradient(-90.13deg, var(--main-color) 10%, #BCE4E7 40.5%, rgba(60, 51, 80, 0));
}

.nav-menu {
    background: rgb(250 250 250 / 74%);
    box-shadow: 0 2px 14px 0 rgba(31, 38, 135, .37);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.font-menu-d li p {
    font-size: clamp(1rem, 1.55vw, 1.5rem);
    cursor: pointer;
    padding-inline: clamp(.4rem, 0.5vw, .8rem);
    font-weight: 500;
}