---
import "../styles/index.css";
import Layout from "../layouts/Layout.astro";
import { HeroMotion, Navbar } from "@components/react/ui/molecules";
import {
	AboutMotion,
	SkillsMotion,
	ExperienceMotion,
	ProjectMotion,
} from "@components/react/ui/molecules/sections";
import { Footer } from "@components/react/ui/molecules/sections/footer/Footer";
---

<Layout title="Portafolio Diego Alexander Bello - TsukiiYamero">
	<div class="relative">
		<Navbar client:load />
		<HeroMotion client:load />
		<AboutMotion client:visible />
		<SkillsMotion client:visible />
		<ExperienceMotion client:visible />
		<ProjectMotion client:visible />
		<Footer client:visible />
	</div>
</Layout>
