---
import "../styles/index.css";
import Layout from "../layouts/Layout.astro";
import { HeroMotion, Navbar } from "@components/react/ui/molecules";
import {
	AboutMotion,
	SkillsMotion,
	ExperienceMotion,
	ProjectMotion,
} from "@components/react/ui/molecules/sections";
import { Footer } from "@components/react/ui/molecules/sections/footer/Footer";
import { NextUIProvider } from "@nextui-org/react";
---

<Layout
	title="Portafolio Diego Bello - TsukiiYamero | Portfolio Diego Bello Front-end Developer"
>
	<NextUIProvider client:load>
		<div class="relative light">
			<Navbar client:load />
			<HeroMotion client:load />
			<AboutMotion client:visible />
			<SkillsMotion client:visible />
			<ExperienceMotion client:visible />
			<ProjectMotion client:visible />
			<Footer client:idle />
		</div>
	</NextUIProvider>
</Layout>
