---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />

		<meta
			name="description"
			content="Explora mi carrera y proyectos en el mundo de la tecnología. Descubre mis habilidades, conocimientos y logros a través de una variedad de proyectos, experiencias y cómo he aplicado mis habilidades."
		/>
		<meta name="application-name" content="Portafolio TsukiiYamero" />
		<meta
			name="keywords"
			content="Portafolio Diego Bello, Portfolio Diego Bello, Portfolio TsukiiYamero, Desarrollador web Diego Alexander Bello, Front-end Developer Diego Bello, Web Developer Diego Alexander Bello, Diego Bello Dev, Diego Guatibonza, Diego Bello, TsukiiYamero, TsukiYamero"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="color-scheme" content="light" />

		<meta
			property="og:title"
			content="Portafolio - Diego Bello | TsukiiYamero"
		/>
		<meta
			property="og:description"
			content="Explora mi carrera y proyectos en el mundo de la tecnología. Descubre mis habilidades, conocimientos y logros a través de una variedad de proyectos, experiencias y cómo he aplicado mis habilidades."
		/>
		<meta property="og:site" content="https://tsukiiyamero.xyz/" />
		<meta property="og:creator" content="@TsukiiYamero" />
		<meta property="og:image" content="/icons/tsukiilogo.svg" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://tsukiiyamero.xyz/" />
		<meta property="og:locale" content="es_ES" />
		<meta property="og:site_name" content="Portafolio TsukiiYamero" />
		<!-- <link rel="manifest" href="manifest.json" /> -->

		<link rel="canonical" href="https://tsukiiyamero.xyz/" />
		<link rel="alternate" href="https://tsukiiyamero.xyz/" hreflang="es" />
		<link rel="alternate" href="https://tsukiiyamero.xyz/" hreflang="en" />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<link rel="icon" href="/icons/tsukiilogo.svg" />

		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
