@media screen and (min-width: 1280px) {
    .vertical-element-container:nth-child(even) {
        display: grid;
        justify-items: flex-end;
    }
}

.vertical-line-element-bg {
    background: rgb(29, 24, 54);
    color: rgb(255, 255, 255);
    box-shadow: 0 3px #1d1836;
}

@media screen and (min-width: 1280px) {
    .vertical-line-element-bg {
        background: rgb(29, 24, 54);
        color: rgb(255, 255, 255);
        box-shadow: 0 3px #1d1836;
        width: 44%;
        padding: 1.5em;
        margin-left: 0;
    }

    .vertical-line-element-bg:nth-child(even) {
        display: grid;
        justify-items: flex-end;
    }
}

@media screen and (min-width: 1280px) {
    .vertical-line-element-bg span:nth-child(2) {
        position: absolute;
        width: 100%;
        padding: 1.125rem;
        font-size: 1rem;
        font-weight: 500;
    }

    .vertical-element-container:nth-child(odd) .vertical-line-element-bg span:nth-child(2) {
        text-align: left;
        left: 124%;
    }

    .vertical-element-container:nth-child(even) .vertical-line-element-bg span:nth-child(2) {
        right: 124%;
        text-align: right;
    }
}


.vertical-line-element-arrow {
    display: block;
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-right: 9px solid rgb(29, 24, 54);
}

@media screen and (min-width: 1280px) {
    .vertical-line-element-arrow {
        border: 12px solid transparent;
        border-right: 12px solid rgb(29, 24, 54);
    }
}

.vertical-timeline-element-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #1d1836, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 1280px) {
    .vertical-timeline-element-icon {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
    }

    .vertical-line-element-bg>div {
        width: 100%;
    }
}